{% extends 'core/base.html' %}
{% load static %}

{% block title %}Debates | Búsqueda{% endblock title %}

{% block script %}
    <script src=" {% static '/js/debates/articulo.js' %} "></script>
{% endblock script %}

{% block content %}
    <main>
        <div class="container">
            <div class="row busqueda">
                <div class="col-12 busqueda__palabra">
                    <h1>Resultados de la busqueda de: "{{ request.GET.buscar }}"</h1>
                </div>
            </div>
            <div class="row resultados mt-3">
                <div class="col-12">
                {% for search in all_search %}
                    <div class="card mb-2 agenda agenda--borde border-bottom border-secundary">
                        <div class="row no-gutters">
                            <div class="col-md-4 agenda__contenedor">
                                <img loading="lazy" class="agenda__img img-fluid agenda__img--altura" src="{{ search.photo_main.url }}" alt="{{ search.title }}">
                            </div>
                            <div class="col-md-8">
                                <div class="agenda__texto">
                                    <div class="resultados__datos mb-3 mt-2 mt-lg-0 d-flex justify-content-between">
                                        <span class="resultados__fecha">{{ search.date|date:"d \d\e F \d\e\l Y" }}</span>
                                        {% for seccion in search.category.all %}
                                            {% if seccion.slug == "galeria-audiovisual" %}
                                                <a class="resultados__categoria font-weight-bold" href="{% url 'gallery:galleries' %}">{{ seccion.name }}</a>
                                            {% elif seccion.slug == "foros-en-vivo" %}
                                                <a class="resultados__categoria font-weight-bold" href="{% url 'forum:forums' %}">{{ seccion.name }}</a>
                                            {% else %}
                                                <a class="resultados__categoria font-weight-bold" href="{% url 'article:articles-category' seccion.slug %}">{{ seccion.name }}</a>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                    {% for enlace in search.category.all %}
                                        {% if enlace.slug == "galeria-audiovisual" %}
                                            <a class="agenda__enlace mb-2" href="{% url 'gallery:gallery-detail' search.slug %}">
                                                <h5 class="agenda__titulo agenda__titulo--grande">{{ search.title }}</h5>
                                            </a>
                                        {% elif enlace.slug == "foros-en-vivo" %}
                                            <a class="agenda__enlace mb-2" href="{% url 'forum:forum-detail' search.slug %}">
                                                <h5 class="agenda__titulo agenda__titulo--grande">{{ search.title }}</h5>
                                            </a>
                                        {% else %}
                                            <a class="agenda__enlace mb-2" href="{% url 'article:article-detail' search.slug %}">
                                                <h5 class="agenda__titulo agenda__titulo--grande">{{ search.title }}</h5>
                                            </a>
                                        {% endif %}
                                    {% endfor %}
                                    <p class="resultados__texto">{{ search.descent }}</p>
                                    <p class="resultados__autor font-weight-bold">{{ search.author.first_name }} {{ search.author.last_name }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                </div>
            </div>
            <!--<div class="row">
                <div class="col-12">
                    <nav aria-label="Page navigation">
                        <ul class="pagination">
                            <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                            <li class="page-item active"><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item"><a class="page-link" href="#">Next</a></li>
                        </ul>
                    </nav>
                </div>
            </div>-->
        </div>
    </main>
{% endblock content %}