{% extends 'core/base.html' %}
{% load static %}

{% block title %}Debates | Agenda{% endblock title %}

{% block script %}
    <script src=" {% static '/js/debates/articulo.js' %} "></script>
{% endblock script %}

{% block content %}
    <main>
        <div class="container">
            <div class="row busqueda">
                <div class="col-12 busqueda__palabra">
                    <h1>Agenda</h1>
                </div>
            </div>
            <div class="row resultados mt-3">
                <div class="col-12">
                {% for agenda in all_schedule %}
                    <article class="card mb-2 agenda agenda--borde border-bottom border-secundary">
                        <div class="row no-gutters">
                            <div class="col-md-4 agenda__contenedor">
                                <img loading="lazy" class="agenda__img img-fluid agenda__img--altura" src="{{ agenda.photo_main.url }}" alt="{{ agenda.title }}">
                            </div>
                            <div class="col-md-8">
                                <div class="agenda__texto">
                                    <div class="resultados__datos mb-3 mt-2 mt-lg-0 d-flex justify-content-between">
                                        <span class="resultados__fecha">{{ agenda.date|date:"d \d\e F \d\e\l Y" }}</span>
                                    </div>
                                    <a class="agenda__enlace mb-2" href="{% url 'schedule:schedule-detail' agenda.slug %}">
                                        <h5 class="agenda__titulo agenda__titulo--grande">{{ agenda.title }}</h5>
                                    </a>
                                    <p class="resultados__texto">{{ agenda.descent }}</p>
                                    <p class="resultados__autor font-weight-bold">{{ agenda.author.first_name }} {{ agenda.author.last_name }}</p>
                                </div>
                            </div>
                        </div>
                    </article>
                {% endfor %}
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <nav aria-label="Page navigation">
                        {% if is_paginated %}
                            <ul class="pagination">
                            {% if page_obj.has_previous %}
                                <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">Anterior</a></li>
                            {% endif %}
                            {% for i in paginator.page_range %}
                                {% if page_obj.number == i %}
                                    <li class="page-item active"><a class="page-link" href="#">{{ i }}<span class="sr-only">(current)</span></a></li>
                                {% else %}
                                    <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                                {% endif %}
                            {% endfor %}
                            {% if page_obj.has_next %}
                                <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Siguiente</a></li>
                            {% endif %}
                            </ul>
                        {% endif %}
                    </nav>
                </div>
            </div>
        </div>
    </main>
{% endblock content %}