{% extends 'core/base.html' %}
{% load static %}

{% block title %}Debates | {{ detalle.title }}{% endblock title %}

{% block css %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/glightbox/dist/css/glightbox.min.css">
{% endblock css %}

{% block script %}
    <script src="https://cdn.jsdelivr.net/gh/mcstudios/glightbox/dist/js/glightbox.min.js"></script>
    <script src=" {% static '/js/debates/articulo.js' %} "></script>

    <script type="text/javascript">
        const lightbox = GLightbox();
    </script>
{% endblock script %}

{% block content %}
    <main>
        <article class="container-fluid articulodetalle">
            <div class="row contenedordetalle">
                <div class="col-12">
                    <div class="contenedordetalle__contenedorcabecera">
                        <div class="mb-2">
                            {% for seccion in detalle.category.all %}
                                <a href="{% url 'gallery:galleries' %}" class="contenedordetalle__enlace">
                                    <span class="articuloresumen__categoria mr-3">{{ seccion.name }}</span>
                                </a>
                            {% endfor %}
                            <span class="mr-1 font-weight-bold articuloresumen__icono"><i class="far fa-clock"></i></span>
                            <span class="articuloresumen__fecha">{{ detalle.date|date:"d \d\e F \d\e\l Y" }}</span>
                        </div>
                        <h1 class="contenedordetalle__titulo">{{ detalle.title }}</h1>
                        <p class="contenedordetalle__bajada">{{ detalle.descent }}</p>
                    </div>
                </div>
            </div>
            <div class="row mt-3 mx-0 mx-lg-1 galeria">
            {% for img in detalle_img %}
                <div class="col-12 col-md-6 col-lg-4 mb-3">
                    <a href="{{ img.image.url }}" class="glightbox" data-gallery="galeria-nombre" data-title="{{ img.summary }}" data-zoomable="true" data-draggable="true">
                        <img class="img-fluid" src="{{ img.image.url }}" alt="{{ img.summary }}">
                    </a>
                </div>
            {% endfor %}
            {% for vid in detalle_video %}
                <div class="col-12 col-md-6 col-lg-4 mb-3">
                    <a href="{{ vid.url }}" class="glightbox" data-gallery="galeria-nombre" data-title="{{ img.summary }}" data-zoomable="true" data-draggable="true">
                        <img class="img-fluid" src="{{ vid.image.url }}" alt="{{ vid.summary }}">
                    </a>
                </div>
            {% endfor %}
            </div>
        </article>
    </main>
{% endblock content %}